<div *ngIf="showPreview && !showEnd" class="container">
  <div class="preview">
    <div class="title">Добро пожаловать в наш уникальный тест для подбора книг под Ваши интересы!</div>

    <div class="content">
      <div class="image"><img src="../../../assets/images/quiz_preview.jpg"></div>

      <div class="description">
        После прохождения теста Вам будут предложены варианты, наиболее подходящие под Ваши интересы.
        Вы сможете сразу же купить понравившиеся экземпляры!
        <button (click)="showPreview = false">Пройти тест!</button>
      </div>
    </div>
  </div>

</div>

<div *ngIf="!showPreview && !showEnd" class="quiz-container">
  <div class="quiz">
    <div class="title">{{activeQ + 1}} вопрос из 5</div>

    <div class="content">
      <div class="image"><img src="../../../assets/images/unnamed.jpg"></div>

      <div class="description">
        <h2>{{quiz[activeQ].title}}</h2>
        <ul>
          <li (click)="nextQuestion('Проза', 'a1')">
            <input [checked]="a1" type="radio" id="contactChoice1" name="contact">
            {{quiz[activeQ].a1}}</li>
          <li (click)="nextQuestion('Детектив', 'a2')">
            <input [checked]="a2" type="radio" id="contactChoice2" name="contact2">
            {{quiz[activeQ].a2}}</li>
          <li (click)="nextQuestion('Фантастика', 'a3')">
            <input [checked]="a3" type="radio" id="contactChoice3" name="contact3">
            {{quiz[activeQ].a3}}</li>
          <li (click)="nextQuestion('Любовный роман', 'a4')">
            <input [checked]="a4" type="radio" id="contactChoice4" name="contact4">
            {{quiz[activeQ].a4}}</li>
          <li *ngIf="quiz[activeQ].a5" (click)="nextQuestion('Приключения', 'a5')">
            <input [checked]="a5" type="radio" id="contactChoice5" name="contact5">
            {{quiz[activeQ].a5}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showEnd" class="container">
  <div class="preview">
    <div class="title center">Поздравляем! Вы успешно прошли тест и мы Вам предлагаем наши варианты под Ваши интересы!</div>

    <div class="books">
      <div [routerLink]="['/book', book.id]"class="book" *ngFor="let book of booksResult">
        <div class="image">
          <img [src]="book.img">
        </div>
      </div>
    </div>

    <button (click)="resetTets()" class="btn">Пройти еще раз!</button>
  </div>

</div>


<footer>
  <div class="wrapper">
    <div class="column">
      <div class="title bold">BOOKMARKET.RU</div>
      <div class="content">Yekaterinburg, Mira street, house 32, 310 flat</div>
    </div>

    <div class="column">
      <div class="title">Магазин</div>
      <div class="content bold">FAQ</div>
      <div class="content">Доставка</div>
      <div class="content">Политика конфиденциальности</div>
      <div class="content">Способы оплаты</div>
    </div>

    <div class="column">
      <div class="title">Социальные сети</div>
      <div class="content">Facebook</div>
      <div class="content">Twitter</div>
      <div class="content">Instagram</div>
    </div>
  </div>
</footer>
