<div class="container">
  <div class="header">
    <div class="title">Корзина</div>
    <div (click)="removeAll()" class="sheet"><img src="../../../assets/images/Raster.png" alt="">Удалить всё</div>
  </div>

  <div class="content">
    <div class="basket">
      <div class="card" *ngFor="let book of books">

        <div (click)="removeById(book.id)" class="remove">
          <img src="../../../assets/images/Raster.png" alt="">
          <button>Удалить</button>
        </div>
        <div class="image">
          <img [src]="book.img">
        </div>

        <div class="props">
          <div class="text">{{book.title}}</div>
          <div class="text">Автор: {{book.author}}</div>

        </div>
        <div class="price">
          <div class="extra" *ngIf="book.discountIsActive">{{book.price - (book.price * (book.discount / 100)) }} Руб</div>
          <div class="cost line" *ngIf="book.discountIsActive">{{book.price}} Руб</div>
          <div class="cost" *ngIf="!book.discountIsActive">{{book.price}} Руб</div>
          <div class="extra"
               *ngIf="book.discountIsActive">Цена за книгу: {{book.price - (book.price * (book.discount / 100)) }} Руб!
          </div>
        </div>
      </div>
    </div>

    <div class="action">
      <div class="text">Товаров в корзине: {{count}}шт</div>
      <div class="text">Сумма заказа: {{totalSum()}}</div>

      <div class="finally">Передадим в службу доставки
        <div class="bold">4 января</div>
      </div>

       <button (click)="showModal = true">Оформить заказ</button>
    </div>
  </div>
</div>
<footer>
  <div class="wrapper">
    <div class="column">
      <div class="title bold">BOOKMARKET.RU</div>
      <div class="content">Yekaterinburg, Mira street, house 32, 310 flat</div>
    </div>

    <div class="column">
      <div class="title">Магазин</div>
      <div class="content bold">FAQ</div>
      <div class="content">Доставка</div>
      <div class="content">Политика конфиденциальности</div>
      <div class="content">Способы оплаты</div>
    </div>

    <div class="column">
      <div class="title">Социальные сети</div>
      <div class="content">Facebook</div>
      <div class="content">Twitter</div>
      <div class="content">Instagram</div>
    </div>
  </div>
</footer>

<div *ngIf="showModal" (click)="showModal = false" class="backdrop">
</div>
<div [ngClass]="{active: showModal}" class="order">
  <div  (click)="showModal = false" class="close" >✖</div>

  <h2>Оформить заказ</h2>
  <form [formGroup]="form">
    <div class="input">
      <label for="city">Город</label>
      <input formControlName="city" type="text" id="city">
    </div>
    <div class="input">
      <label for="address">Адрес</label>
      <input formControlName="address" type="text" id="address">
    </div>
    <div class="input">
      <label for="fio">ФИО</label>
      <input formControlName="fio" type="text" id="fio">
    </div>
    <div class="input">
      <label for="email">Email</label>
      <input formControlName="email" type="text" id="email">
    </div>
    <div class="input">
      <label for="phone">Телефон</label>
      <input formControlName="phone" type="text" id="phone">
    </div>

    <button [disabled]="form.invalid" type="submit" (click)="sendOrder()"> Подтвердить</button>
  </form>
</div>
