@import "src/styles";
.container {
  min-height: 90vh;
  border: 5px solid $main-blue;
  display: flex;

  .filters {
    width: 20%;
    border-right: 1px solid $main-blue;
    display: flex;
    flex-direction: column;
    color: $main-blue;
    padding: 20px 10px;
  }

  .content {
    width: 80%;

    .title {
      text-align: center;
      color: $main-blue;
      font-family: 'Lato';
      font-size: 26px;
      line-height: 33px;
      font-weight: 500;
      margin: 10px auto;
      border-bottom: 1px solid $main-blue;
      height: 50px;
    }

    .card {
      display: flex;
      height: 250px;
      border-bottom: 1px solid $main-blue;
      padding: 15px 70px 10px 70px;

      .image {
        height: 100%;
        width: 20%;

        img {
          width: 70%;
        }
      }

      .props {
        width: 40%;
        margin-top: 5px;
        .text {
          color: $main-blue;
          font-family: 'Lato';
          font-size: 20px;
          font-weight: 500;
          line-height: 31px;
          text-align: left;
        }
      }

      .price {
        margin-left: 20px;
        font-family: 'Lato';
        font-size: 20px;
        line-height: 33px;
        text-align: left;

        .extra {
          color: #f95f62;
        }
        .cost {
          color: #000;
        }
      }
    }
  }
}
.radio {
  display: flex;
  flex-direction: column;

  .button {
    display: flex;
  }
  div:first-of-type {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
  }

  label {
    margin-right: 15px;
    line-height: 32px;
  }

  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 50%;
    width: 16px;
    height: 16px;

    border: 2px solid #999;
    transition: 0.2s all linear;
    outline: none;
    margin-right: 5px;

    position: relative;
    top: 4px;
  }

  input:checked {
    border: 6px solid $main-blue;
  }

  button,
  legend {
    color: white;
    background-color: black;
    padding: 5px 10px;
    border-radius: 0;
    border: 0;
    font-size: 14px;
  }

  button:hover,
  button:focus {
    color: #999;
  }

  button:active {
    background-color: white;
    color: $main-blue;
    outline: $main-blue;
  }
}
button {
  margin-top: 5px;
  padding: 8px 35px;
  border: none;
  background: $main-blue;
  border-radius: 5px;
  color: #fff;
  font-family: 'Lato';
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.pagination-container {
  margin: 20px 0 20px 30px;
}
