<div class="container">
  <div class="filters">
    <h2>Жанры</h2>

    <div class="radio">
      <div class="button">
        <input type="radio" id="contactChoice1"
               name="contact" value="Проза" [(ngModel)]="filter">
        <label for="contactChoice1">Проза</label>
      </div>

      <div class="button">
        <input type="radio" id="contactChoice2"
               name="contact" [(ngModel)]="filter" value="Детектив">
        <label for="contactChoice2">Детектив</label>
      </div>

      <div class="button">
        <input type="radio" id="contactChoice3"
               name="contact" [(ngModel)]="filter" value="Фантастика">
        <label for="contactChoice3">Фантастика</label>
      </div>

      <div class="button">
        <input type="radio" id="contactChoice4"
               name="contact" [(ngModel)]="filter" value="Фэнтези">
        <label for="contactChoice4">Фэнтези</label>
      </div>

      <div class="button">
        <input type="radio" id="contactChoice5"
               name="contact" [(ngModel)]="filter" value="Боевик">
        <label for="contactChoice5">Боевик</label>
      </div>

      <div class="button">
        <input type="radio" id="contactChoice6"
               name="contact" [(ngModel)]="filter" value="Триллер">
        <label for="contactChoice6">Триллер</label>
      </div>

      <div class="button">
        <input type="radio" id="contactChoice7"
               name="contact" [(ngModel)]="filter" value="Приключения">
        <label for="contactChoice7">Приключения</label>
      </div>

      <div class="button">
        <input type="radio" id="contactChoice8"
               name="contact" [(ngModel)]="filter" value="Любовный роман">
        <label for="contactChoice8">Любовный роман</label>
      </div>

      <div class="button">
        <input type="radio" id="contactChoice9"
               name="contact" [(ngModel)]="filter" value="Юмор и сатира">
        <label for="contactChoice9">Юмор и сатира</label>
      </div>

    </div>
    <div>
      <button (click)="applyFilters()" type="submit">Применить</button>
      <button (click)="removeFilters()" type="submit">Сбросить</button>
    </div>
  </div>
  <div class="content">
    <div class="title">Каталог</div>

    <div class="card" *ngFor="let book of paginationService.chunkList">
      <div class="image">
        <img [src]="book.img">
      </div>

      <div class="props">
        <div class="text">Жанр: {{book.genre}}</div>
        <div class="text">Автор: {{book.author}}</div>
        <div class="text">Издательство: {{book.publishingHouse}}</div>
        <div class="text">Редактор: {{book.editorialOffice}}</div>
        <div class="text">Серия: {{book.series}}</div>

        <button [routerLink]="['/book', book.id]">Открыть</button>
      </div>
      <div class="price">
        <div class="cost" *ngIf="!book.discountIsActive">Цена за книгу: {{book.price}} Руб</div>
        <div class="extra"
             *ngIf="book.discountIsActive">Цена за книгу: {{book.price - (book.price * (book.discount / 100)) }} Руб!
        </div>
      </div>
    </div>

    <div class="pagination-container">
      <app-pagination *ngIf="paginationService.books && paginationService.books.length > itemsOnPage"></app-pagination>
    </div>
  </div>
</div>

<footer>
  <div class="wrapper">
    <div class="column">
      <div class="title bold">BOOKMARKET.RU</div>
      <div class="content">Yekaterinburg, Mira street, house 32, 310 flat</div>
    </div>

    <div class="column">
      <div class="title">Магазин</div>
      <div class="content bold">FAQ</div>
      <div class="content">Доставка</div>
      <div class="content">Политика конфиденциальности</div>
      <div class="content">Способы оплаты</div>
    </div>

    <div class="column">
      <div class="title">Социальные сети</div>
      <div class="content">Facebook</div>
      <div class="content">Twitter</div>
      <div class="content">Instagram</div>
    </div>
  </div>
</footer>
